body{
	font-size: 30px;
	color: white;
	text-align: center;
	background: linear-gradient(to left, lightblue, darkblue);
}
.container{
margin-top: 100px;	
margin-left: 40px;
margin-right: 40px;
width: 28%;
float: left;
border: 5px solid white;
height: 600px;
border-radius: 20px;
box-shadow: 0 0 20px white;
transition: 1s;
transition-duration: 1s;
}

img{
	width: 80%;
}
.container:hover {
text-shadow: 2px 2px 3px white;
background-color: darkgreen;
transform: rotate(10deg);
}

.container-vip{
margin-top: 100px;	
margin-left: 40px;
margin-right: 40px;
width: 28%;
float: left;
border: 5px solid white;
height: 600px;
border-radius: 20px;
box-shadow: 0 0 200px gold;
transition: 1s;
transition-duration: 1s;
}
.container-vip:hover {
text-shadow: 3px 3px 3px white;
background-color: gold;
transform: rotate(370deg);
cursor: pointer;
}